<script lang="ts">
    import Login from "./components/Gate.svelte";

    import { Container, Row, Col } from "sveltestrap";
</script>

<svelte:head>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        rel="stylesheet"
    />
    <!-- MDB -->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
        rel="stylesheet"
    />

    <!-- MDB -->
    <script
        lang="javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>

    <script
        src="https://kit.fontawesome.com/f0780e02c6.js"
        crossorigin="anonymous"></script>
</svelte:head>

<Container fluid>
    <Row class="justify-content-md-center">
        <Col sm="12" md="6" class="text-center">
            <h1>Stock Chat</h1>
            <div class="description">
                <p>
                    Built by: Renan Tonheiro <br>
                    Powered by: SVELTE <img src="svelte.webp" width="16" height="16" />
                </p>
            </div>
        </Col>
    </Row>

    <Login />
</Container>

<style>
    .description {
        font-size: 12px;
    }
</style>
