<script lang="ts">
    import PeopleList from "./PeopleList.svelte";
    import ChatHistory from "./ChatHistory.svelte";

    import ChatMessage from "./ChatMessage.svelte";
    import { joinRoom } from "../services/chat";
    import { room, userToken } from "../stores";
    import { Col, Row } from "sveltestrap";

    let loadingRoom: Boolean = true;

    joinRoom($userToken.token, $room).then(() => (loadingRoom = false));
</script>

{#if loadingRoom}
    <p>Entering room...</p>
{:else}
    <Row class="justify-content-md-center mt-3">
        <Col sm="12" lg="6">
            <div class="chat-app card">
                <PeopleList />
                <div class="chat">
                    <ChatHistory />
                    <ChatMessage />
                </div>
            </div>
        </Col>
    </Row>
{/if}

<style>
    .chat-app {
        background: #fff;
        transition: 0.5s;
        border: 0;
        margin-bottom: 30px;
        border-radius: 0.55rem;
        position: relative;
        width: 100%;
    }

    .chat-app .chat {
        margin-left: 280px;
        border-left: 1px solid #eaeaea;
    }

    @media only screen and (max-width: 767px) {
        .chat-app .chat {
            margin: 0;
        }
    }
</style>
