<script lang="ts">
    import type { Person } from "../types";

    import { sendMessage } from "../services/chat";

    import { Input } from "sveltestrap";
    let message: string = "";

    function messageKeyUp(e: KeyboardEvent) {
        if (e.key === "Enter") {
            sendMessage(message);
            message = "";
        } else if (e.key === "Esc") {
            message = "";
        }
    }
</script>

<div class="chat-message clearfix">
    <div class="input-group mb-0">
        <span class="input-group-text border-0">
            <i class="fa-solid fa-paper-plane" />
        </span>
        <input
            type="text"
            class="form-control rounded"
            placeholder="Enter message here..."
            bind:value={message}
            on:keyup={messageKeyUp}
        />
    </div>
</div>

<style>
    .chat-message {
        padding: 10px;
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
</style>
