<script lang="ts">
    import { Row, Col } from "sveltestrap";
    import { Card, CardBody } from "sveltestrap";
    import { userToken, room } from "../stores";
    import { connected } from "../services/chat";

    import Login from "./Login.svelte";
    import ChatRoom from "./ChatRoom.svelte";
    import RegisterUser from "./RegisterUser.svelte";
    import RoomSelect from "./RoomSelect.svelte";

    let mode: "login" | "register" = "login";

    async function changeMode(newMode: "login" | "register") {
        mode = newMode;
    }
</script>

{#if !$connected && !$room}
    <Row class="justify-content-md-center mt-3">
        <Col sm="12" md="6" lg="3">
            <Card>
                <CardBody>
                    {#if !$userToken}
                        {#if mode === "login"}
                            <Login />
                        {:else}
                            <RegisterUser bind:mode />
                        {/if}

                        <Row class="mt-3 text-center">
                            <Col sm="12">
                                {#if mode === "login"}
                                    <!-- svelte-ignore a11y-missing-attribute -->
                                    <span class="register">
                                        Not registered yet? Register
                                        <a
                                            on:click={() =>
                                                changeMode("register")}
                                        >
                                            here
                                        </a>
                                    </span>
                                {:else}
                                    <!-- svelte-ignore a11y-missing-attribute -->
                                    <span class="register">
                                        Already registered? Login
                                        <a on:click={() => changeMode("login")}>
                                            here
                                        </a>
                                    </span>
                                {/if}
                            </Col>
                        </Row>
                    {:else if !$room}
                        <RoomSelect />
                    {/if}
                </CardBody>
            </Card>
        </Col>
    </Row>
{:else}
    <ChatRoom />
{/if}

<style>
    a {
        color: var(--mdb-blue);
    }

    .register {
        font-size: 14px;
    }
</style>
