<script lang="ts">
    import { Button, Col, FormGroup, Input, Label, Row } from "sveltestrap";

    import { login, loginError } from "../services/user";
    import ResponseErrorMessage from "./ResponseErrorMessage.svelte";

    let username: string;
    let password: string;

    async function performLogin() {
        await login(username, password);
    }
</script>

<Row class="mb-3">
    <Col sm="12" class="text-center">
        <h2>Login</h2>
    </Col>
</Row>
<FormGroup floating>
    <Input bind:value={username} />
    <Label for="username">Username</Label>
</FormGroup>
<FormGroup floating>
    <Input type="password" bind:value={password} />
    <Label for="password">Password</Label>
</FormGroup>

<ResponseErrorMessage error={$loginError} />

<div class="login-action">
    <Button disabled={!username} on:click={performLogin}>Login</Button>
</div>

<style>
    .login-action {
        width: 100%;
        text-align: center;
    }
</style>
