<script lang="ts">
    import { Button } from "sveltestrap";
    import { leaveRoom } from "../services/chat";

    import { roomUsers, userToken } from "../stores";
    import { getAvatar } from "../utils";

    async function performLeaveRoom(): Promise<void> {
        leaveRoom();
    }
</script>

<div class="people-list">
    <h5 class="card-header">Participants</h5>
    <div class="participants">
        <ul class="list-unstyled chat-list mt-2 mb-0">
            {#each $roomUsers as user}
                <li
                    class="clearfix {user === $userToken.username
                        ? 'active'
                        : ''}"
                >
                    <img src={getAvatar(1)} alt="avatar" />
                    <div class="about">
                        <div class="status">
                            <i class="fa fa-circle online" />
                            <div class="name">{user}</div>
                        </div>
                    </div>
                </li>
            {/each}
        </ul>
    </div>
    <div class="action">
        <Button on:click={performLeaveRoom}>Leave</Button>
    </div>
</div>

<style>
    .people-list {
        width: 280px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
        z-index: 7;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        height: 100%;
    }

    .participants {
        overflow-y: auto;
    }

    .action {
        position: absolute;
        bottom: 10px;
    }

    .chat-list li {
        padding: 10px 15px;
        list-style: none;
        border-radius: 3px;
    }

    .chat-list li .name {
        font-size: 15px;
    }

    .chat-list img {
        width: 45px;
        border-radius: 50%;
    }

    img {
        float: left;
        border-radius: 50%;
    }

    .about {
        float: left;
        padding-left: 8px;
    }

    .status {
        color: #999;
        font-size: 13px;
    }

    .online,
    .offline,
    .me {
        margin-right: 2px;
        font-size: 8px;
        vertical-align: middle;
    }

    .online {
        color: #86c541;
    }

    .offline {
        color: #e47297;
    }

    .me {
        color: #1d8ecd;
    }

    @media only screen and (max-width: 767px) {
        .people-list {
            height: 465px;
            width: 100%;
            overflow-x: auto;
            background: #fff;
            left: -400px;
            display: none;
        }
        .open {
            left: 0;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .chat-list {
            height: 650px;
            overflow-x: auto;
        }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        .chat-list {
            height: 480px;
            overflow-x: auto;
        }
    }
</style>
