<script lang="ts">
    import { Button, Col, FormGroup, Input, Label, Row } from "sveltestrap";
    import { register, registerError, type NewUser } from "../services/user";
    import { validateEmail } from "../utils";
    import ErrorMessage from "./ErrorMessage.svelte";
    import ResponseErrorMessage from "./ResponseErrorMessage.svelte";

    export let mode: "login" | "register";

    let email: string;
    let username: string;
    let password: string;
    let passwordConfirm: string;

    async function performRegister() {
        const newUser: NewUser = {
            email,
            username,
            password
        };

        if (await register(newUser)) mode = "login";
    }
</script>

<Row class="mb-3">
    <Col sm="12" class="text-center">
        <h2>Register</h2>
    </Col>
</Row>
<FormGroup floating>
    <Input bind:value={email} />
    <Label>Email</Label>
</FormGroup>
<FormGroup floating>
    <Input bind:value={username} />
    <Label>Username</Label>
</FormGroup>
<FormGroup floating>
    <Input type="password" bind:value={password} />
    <Label>Password</Label>
</FormGroup>
<FormGroup floating>
    <Input type="password" bind:value={passwordConfirm} />
    <Label>Password</Label>
</FormGroup>

{#if email && !validateEmail(email)}
    <ErrorMessage><p>You must enter a valid email!</p></ErrorMessage>
{/if}

{#if password !== passwordConfirm}
    <ErrorMessage><p>Password fields must be equal!</p></ErrorMessage>
{/if}

<ResponseErrorMessage error={$registerError} />

<div class="action">
    <Button disabled={!username} on:click={performRegister}>Register</Button>
</div>

<style>
    .action {
        width: 100%;
        text-align: center;
    }
</style>
