<script lang="ts">
    import type { ErrorResponse } from "../services/types";
    import ErrorMessage from "./ErrorMessage.svelte";

    export let error: ErrorResponse;
    let errorMessage: string = "";

    $: {
        if (error) {
            errorMessage = `Status: ${error.statusCode} Code: ${error.faultCode} - ${error.message}`;
        }
    }
</script>

{#if error}
    <ErrorMessage>
        {errorMessage}
        {#if error.additionalInfo}
            <ul class="failures">
                {#each error.additionalInfo as failure}
                    <li>{failure.errorMessage}</li>
                {/each}
            </ul>
        {/if}
    </ErrorMessage>
{/if}

<style>
    .failures {
        list-style: disc;
        padding: 10px;
    }

    .failures li {
        margin-left: 5px;
    }
</style>
