<script lang="ts">
    import { Button, Col, FormGroup, Row } from "sveltestrap";
    import { getRooms } from "../services/chat";
    import { room, userToken } from "../stores";
    import type { Room } from "../types";

    let selectedRoom: string = "room1";
    let loadingRooms: Boolean = true;
    let rooms: Array<Room>;

    function enterRoom() {
        $room = selectedRoom;
    }

    function loadRooms(): void {
        getRooms($userToken.token).then((res) => {
            loadingRooms = false;
            rooms = res;
            selectedRoom = rooms[0].id;
        });
    }

    loadRooms();
</script>

<Row class="mb-3">
    <Col sm="12" class="text-center">
        <h2>Room selection</h2>
    </Col>
</Row>

{#if loadingRooms}
    <span>Loading rooms..</span>
{:else}
    <FormGroup>
        <!-- svelte-ignore a11y-label-has-associated-control -->
        <label class="form-label">Select a room...</label>
        <select class="form-select" bind:value={selectedRoom}>
            {#each rooms as room}
                <option value={room.id}>{room.name}</option>
            {/each}
        </select>
    </FormGroup>
{/if}

<div class="action">
    <Button on:click={enterRoom}>Enter</Button>
</div>

<style>
    .action {
        width: 100%;
        text-align: center;
    }
</style>
